doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://unpkg.com/purecss@1.0.0/build/base-min.css')
    link(rel='stylesheet', href='https://unpkg.com/purecss@1.0.0/build/pure-min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
